<div>
    <p>
        Indien uw e-mailadres bij ons bekend is, ontvangt u van ons een e-mail met een link om het wachtwoord te
        resetten.
        <br>
        <br>
        Geen e-mail ontvangen? Controleer uw spam folder of probeer het opnieuw.
    </p>

    <a href="{{ path('webstack_user_security_login') }}">Naar het inlogscherm</a>
</div>
