<form action="{{ path('app_home_index') }}" method="POST">
    <div class="row">
        <div class="form-group mb-6">
            <label for="username" class="block text-default mb-2 flex item-center required"><span>E-mail</span></label>
            <input type="text" id="username" name="username"
                   required="required" autofocus
                   autocomplete="username" class="form-control form-input w-full"
                   placeholder="E-mail">
            </input>
        </div>
        <div class="pb-4">
            <button type="submit" class="btn btn-primary inline-flex items-center mt-6 px-10 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white focus:outline-none transition ease-in-out duration-150">
                Reset wachtwoord
            </button>
        </div>
    </div>
</form>

