<div>
    <h1 class="pb-2">Nieuw wachtwoord instellen</h1>
    <p>
        Vul je e-mailadres in en je ontvangt binnen enkele minuten een link waarmee je een nieuw wachtwoord
        kunt instellen
    </p>
</div>
<div>
    {% include '@WebstackUser/reset_password/request_form.html.twig' %}
</div>
