<div>
    <h1>Nieuw wachtwoord instellen</h1>
    <p>
        Vul uw e-mailadres in en u ontvangt binnen enkele minuten een link waarmee u een nieuw wachtwoord
        kunt instellen.
    </p>
</div>
<div>
    {% include '@WebstackUser/reset_password/request_form.html.twig' %}
</div>
