<div class="main-container-content">
    <h1 class="pb-2">Nieuw wachtwoord instellen</h1>
    <p>
        Vul onderstaand je nieuwe wachtwoord in
    </p>
</div>

<div>
    {% include '@WebstackUser/reset_password/reset_form.html.twig' %}
</div>
