<div>
    <h1>Nieuw wachtwoord instellen</h1>
    <p>
        Vul onderstaand uw nieuwe wachtwoord in
    </p>
</div>

<div>
    {% include '@WebstackUser/reset_password/reset_form.html.twig' %}
</div>
